# Define the following paths in order to build gw_bse

# Path to your build of charm
CHARMDIR = /Users/Eric/Programming/ppl/charm

# Path to the build of the fftw3 library
FFTW3 = /Users/Eric/Programming/ppl/fftw3

# Path to LAPACK if using LAPACK
CFLAGS += -DUSE_LAPACK
LAPACKLIB = -framework Accelerate
